<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            ignore-unresolvable="true" location="classpath:common/*.properties" />
    <!-- PMF Bean -->
    <bean id="pmf"
          class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
        <property name="jdoProperties">
            <map>
                <entry key="javax.jdo.PersistenceManagerFactoryClass" value="org.datanucleus.api.jdo.JDOPersistenceManagerFactory"/>
                <entry key="javax.jdo.option.ConnectionFactory" value-ref="dataSource"/>
                <entry key="datanucleus.schema.autoCreateAll" value="true"/>
            </map>
        </property>
    </bean>

    <!-- Transaction Manager for PMF -->
    <bean id="jdoTransactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
        <property name="persistenceManagerFactory">
            <ref bean="pmf"/>
        </property>
    </bean>

</beans>