<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 启动包扫描功能，以便注册带有@Controller等注解的类成为spring的bean -->
    <!--
        <context:component-scan base-package="com.github.ittalks" />
    -->

    <!-- 公共配置文件-->
    <import resource="classpath:/spring-profiles.xml"/>
    <import resource="classpath:/spring-datasource.xml"/>
    <import resource="classpath:/spring-t3.xml"/>
    <import resource="classpath:/spring-redis.xml"/>
    <import resource="classpath:/spring-quartz.xml"/>
    <import resource="classpath:/cxf-server.xml"/>
    <import resource="classpath:/cxf-client.xml"/>
</beans>